{% extends 'base.html' %}
{% load static %}

{% block title %}cat.fruit - Miteri Mart{% endblock %}

{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="{% static 'css/contacts.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-9 col-lg-10 px-4 mx-5 dashboard-content ">

    <div class="row">
        <div class="col-md-6">
            <div class="other-box">
                <h5>Miteri Mart</h5>
                <p>Nepal</p>
                <p>+977 9841245382</p>
                <p>miterimart@gmail.com</p>
                <div class="tech-stack">
                    <a class="social" href="">
                        <div class="tech-icon html5" title="HTML5">
                            <i class="bi bi-facebook"></i>
                        </div>
                    </a>

                    <div class="tech-icon css3" title="CSS3">
                        <i class="bi bi-instagram"></i>
                    </div>

                    <div class="tech-icon javascript" title="JavaScript">
                        <i class="bi bi-whatsapp"></i>
                    </div>

                    <div class="tech-icon react" title="React">
                        <i class="bi bi-tiktok"></i>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h3 class="address-title">Fill Up The Form If You Have Any Question</h3>

            <div class="address-box">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Name *" required>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Email *" required>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number *" required>
                    </div>

                    <div class="mb-3">
                        <textarea type="text" class="form-control" placeholder="Subject *" required> </textarea>
                    </div>
                    <button type="submit" class="contact-save btn-primary">Save Address</button>
                                        <button type="button" class="contact-cancel">Cancel</button>
                </form>
            </div>
        </div>


    </div>
</div>
</form>
</div>

</div>

</div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/.js' %}"></script>
{% endblock %}