{% extends 'base.html' %}
{% load static %}

{% block title %}cat.fruit - Miteri Mart{% endblock %}

{% block extra_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="{% static 'css/user_address.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
   <div class="container-fluid">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-md-3 col-lg-2 dashboard-menu">
        <div class="list-group">
          <a href="{% url 'store:user_home' %}" class="list-group-item list-group-item-action ">
            <i class="fa fa-chart-line"></i> Dashboard
          </a>
          <a href="{% url 'store:user_order' %}" class="list-group-item list-group-item-action ">
            <i class="fa fa-bag-shopping"></i> Order
          </a>
          <a href="" class="list-group-item list-group-item-action ">
            <i class="fa fa-heart"></i> Wishlist
          </a>
          <a href="" class="list-group-item list-group-item-action ">
            <i class="fa fa-coins"></i> Loyalty Points
          </a>
          <a href="{% url 'store:user_address' %}" class="list-group-item list-group-item-action active">
            <i class="fa fa-location-dot"></i> My Address
          </a>
          <a href="{% url 'store:user_detail' %}" class="list-group-item list-group-item-action ">
            <i class="fa fa-user"></i> Account Details
          </a>
          <a href="" class="list-group-item list-group-item-action">
            <i class="fa fa-right-from-bracket"></i> Log Out
          </a>
        </div>
      </div>

      <!-- Main Content -->
      <div class="col-md-9 col-lg-10 dashboard-content">
        <h2>My Address</h2>
        <div class="row">
          <!-- Billing Address -->
          <div class="col-md-6">
            <div class="address-box">
              <h5>Billing Address</h5>
              <p>Kathmandu<br>
                2<br>
                 Nepal<br>
                 44000
              </p>
              <a href="">Edit</a>
            </div>
          </div>

          <!-- Shipping Address -->
          <div class="col-md-6">
            <div class="address-box">
              <h5>Shipping Address</h5>
              <p>

              </p>
              <a href="">Edit</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/.js' %}"></script>
{% endblock %}
